
body{
	background-color:#9ca3af
}

h3{
	 text-decoration: underline;
}
h4{
	 text-decoration: underline;
}

table, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th{
	background-color:#47494c;
	color: white;
}
td {
    height: 50px;
    
}
tr:hover{background-color:#c6cad1}